.form {
    &__block {
        margin-bottom: 20px;

        .error {
            display: none;
        }
    }

    &__block--error {

        .error {
            display: block;
            color: red;
        }
    }

    &__label {
        display: block;
    }

    &__input {
        width: 100%;
    }

    &__input--error {
        border-color: $color-danger
    }
}